em {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 116, 192);
}

strong {
    font-weight: bold;
    border-color: aquamarine;
}

b{
  background-color:rgb(0, 0, 0);
  color:aliceblue
}
p {
   
    text-align: center;
    
}
.highlight {
  text-transform: uppercase;
  border-bottom: 1px solid rgb(255, 255, 255);
}

body
{
    font-size:100%;
    background-color:rgb(255, 205, 205);
    color: rgb(0, 0, 0);
    text-align:center;
}

.header
{
    text-align:center;
    font-size:4em;
    font-family:sans-serif;
    background-color:blue;
}

h1{
    color: rgb(255, 46, 112);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 800;
    font-size: 72px;
}


h2{
    color: rgb(255, 179, 203);
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 1000;
font-size: 50px;
}

h3{
    color: rgb(12, 12, 12);
    font-family: 'Smooch Sans', sans-serif;

}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #000000;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
